<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
          <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
        </div>
        <div class="mb-3">
          <label  for="exampleInputPassword1" class="form-label">name</label>
          <input formControlName="name" type="text" class="form-control" id="name">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Upload</label>
          <input (change)="onFileSelected($event)" formControlName="files" type="file" class="form-control" id="files" accept="image/png, image/jpeg">

        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<button (click)="onDownload()">Download</button>
<img [src]="profileUrl | async" />
